html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
.div{
    position: absolute;
}
div i .img1 {
    margin-top: 300px;
    margin-left: 300px;
    width: 100px;
    height: 100px;
    position: relative;
     background-color: white; 
    animation-name: hereket;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 


}
@keyframes hereket {
    0% {background-color: white; left: 0px;}
    6.25% {background-color: white; left: 25px;}
    12.5% {background-color: white; left: 50px;}
    18.75% {background-color: white; left: 75px;}
    25% {background-color: white; left: 100px;}
    31.25% {background-color: white; left: 125px;}
    37.5% {background-color: white; left: 150px;}
    43.75% {background-color: white; left: 175px;}
    50% {background-color: white; left: 200px;}
    56.25% {background-color: white; left: 225px;}
    62.5% {background-color: white; left: 250px;}
    68.75% {background-color: white; left: 275px;}
    75% {background-color: white; left: 300px;}
    81.25% {background-color: white; left: 325px;}
    87.5% {background-color: white; left: 350px;}
    93.75% {background-color: white; left: 375px;}
    100% {background-color: white; left: 400px;}
}